<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>
  <div class="container">
    <h1>Create Rectangle</h1>
    <br/>
    <br/>
    <form class="create-form" th:action="@{'/rectangle/create'}" method="post">
      <div>
          <label for="name">name</label><br>
          <input name="name" type="text" placeholder="name your rectangle..."/>
      </div>
      <div class="form-width-section">
        <div class="form-sz">
            <label for="width">width</label><br>
            <input name="width" type="number"/>
        </div>
        <div class="form-sz">
            <label for="height">height</label><br>
            <input name="height" type="number"/>
        </div>
      </div>
      <div>
          <label for="height">pick A color</label><br>
          <input name="color" type="color"/>
      </div>
      <button class="submitBtn" type="submit"> create rectangle</button>
    </form>
  </div>
</body>
</html>